.header {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  background-color: var(--color-grey-light-3);
  border-bottom: var(--line);

  &__logo {}

  & .nav {
    ul {
      list-style: none;
      display: flex;
    }

    &__list-item {
      list-style: none;

      &>a {
        padding: 2rem 2rem;
        display: inline-block;
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;
        font-size: 1.4rem;
        color: var(--color-dark-blue-1);
        font-weight: 500;
        letter-spacing: 1px;
      }

      &>a:last-child {
        // buggy? should be :not(:last-child)
        margin-right: .5rem;
      }
    }
  }
}